.tol {
  --background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

[nocaps]{
	text-transform: none;
	font-size: 13px;
}

.list{
	background: transparent;
}

.card{
	margin: 0px 8px; 
	margin-top: 9px; 
}