.error-message {
    color: var(--ion-color-danger);
    font-size: 11px;
    font-style: italic;
    font-family: 'Ubuntu';
}

[formclass]{
	margin: 0px 5px;
	background-color: transparent;
}

[formclass]{
	margin: 0px 5px;
	background-color: transparent;
}

.btnregister {
	margin-bottom: 150px;
	margin-bottom: 40px;
}

[label] {
	font-family: 'Ubuntu';
	font-size: 15px;
}

ion-item {
	--background: transparent;
}