
.font{
  font-family: 'Ubuntu';
  font-size: 11px;
  margin:0px;
  margin-bottom: 5px;
}
.fontdes{
  font-family: 'Ubuntu';
  font-size: 12px;
  margin:0px;
  margin-bottom: 5px;
}

[listion]{
  margin-bottom: 10px;
}

.kotaknotif {
    margin-top: 10px;
    margin-bottom: 10px;
}

.kotaknotifborder {
    background-color: #f7f8f7;
    border: 1px solid #cde4c3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cde4c3;
    border-radius: 5px;
    border-bottom: 1px solid #cde4c3!important;
    padding: 16px;
    text-align: center;
}

.kotaknotifborder2 {
    background-color: #FFEAEA;
    border: 1px solid #cde4c3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cde4c3;
    border-radius: 5px;
    border-bottom: 1px solid #cde4c3!important;
    padding: 10px;
    text-align: left;
}

.font3{
  font-size: 11px;
  margin:0px;
}