.error-message {
    color: var(--ion-color-danger);
    font-size: 11px;
    font-style: italic;
    margin: 0px 10px;
}

.btnregister {
	margin-bottom: 150px;
	margin-bottom: 40px;
}

.textcolor{
	color: #5A5151;
	background-color: #F9F8FF;
}

ion-item {
	--background: transparent;
}