.tol {
  --background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.titleakun{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  padding-left: 20px;
}

[nomor]{
	padding: 0px; 
	text-align: left; 
	font-size: 13px; 
	line-height: 1.8;
}

[descr]{
	padding: 0px; 
	font-size: 13px;
	line-height: 1.8;
	text-align: justify;
}